  @import '../common.scss';

.root {
  width: 100%;

  .content {
    > .wrapper {
      border-bottom: 1px solid $color--gray--5;
      margin-bottom: 40px;
      padding-top: 20px;

      .album { 
        padding-bottom: 20px;
        display: flex;
        align-items: center;

        > .left {
          flex-shrink: 0;
          width: 200px;
          height: 200px;
          background: black;
          margin-right: 30px;
          position: relative;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        > .right {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-self: stretch;

          > .top {
            display: flex;

            > .left {
              .title {
                font-size: 1.2em;
                font-weight: bold;
              }

              .name {
                font-size: 1.1em;
              }

              .rate {
                margin: 20px 0;

                svg {
                  font-size: 1.4em;
                  color: $color--gray--5;
                }

                svg.active {
                  color: $color--system--5;
                }
              }
            }

            > .right {
              margin-left: auto;

              > div {
                display: flex;
                margin-bottom: 6px;

                > div:first-child {
                  width: 80px;
                  font-weight: bold;
                }
              }
            }
          }

          > .bottom {
            margin-top: auto;
            align-self: stretch;
            @include center;
            gap: 15px;
            flex-wrap: wrap;

            > button {
              min-width: 140px;
              height: 40px;
              font-size: 1em;
              font-weight: bold;
              border-radius: $radius--default;
              background: white;
              border: 1px solid $color--gray--4;
              color: $color--gray--1;
              flex: 1;

              svg {
                color: $color--gray--4;
                font-size: 1.2em;
                margin-right: 6px;
              }
            }

            > button:nth-child(2) {
              border: 1px solid $color--system--5;
              svg {
                color: $color--system--3;
              }
            }

            > button:last-child {
              border: 0;
              background: $color--system--3;

              svg {
                color: $color--gray--1;
              }
            }
          }
        }
      }
    }

    .mobile-albuminfo {
      display: none; 
    }
  }
}

@media (max-width: 1199px) {
  .root {
    .content {
      .wrapper {
        .album {
          padding-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .root {
    .content {
      .wrapper {
        margin-bottom: 0;

        .album {
          .left {
            width: 140px;
            height: 140px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          .right {
            .top {
              .left {
                .rate {
                  margin-bottom: 0;
                }
              }

              .right {
                display: none;
              }
            }

            .bottom {
              display: none;
            }
          }
        }
      }

      .mobile-albuminfo {
        display: block;
        margin: 20px;

        .wrapper {
          display: flex;
          gap: 20px;

          .left {
            font-weight: bold;
          }
  
          .right {
            > div {
              display: flex;
  
              :first-child {
                width: 60px;
                font-weight: bold;
              }
  
              :last-child {
                font-weight: normal;
              }
            }
          }
        }

        .buttons {
          display: flex;
          flex-direction: column;
          gap: 6px;
          margin-top: 20px;

          button {
            width: 100%;
            border-radius: $radius--default;
            background: $color--gray--8;
            border: 1px solid $color--gray--5;
            color: $color--gray--1;
            font-size: 1em;
            font-weight: bold;
            padding: 10px;

            svg {
              font-size: 1.2em;
              margin-right: 6px;
              color: $color--gray--4;
            }
          }

          button:nth-child(2) {
            border: 1px solid $color--system--5;
            
            svg {
              color: $color--system--3;
            }
          }

          button:last-child {
            border: 0;
            background: $color--system--3;

            svg {
              color: $color--gray--1;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 280px) {
  .root {
    .content {
      .wrapper {
        margin-bottom: 0;

        .album {
          .left {
            width: 100px;
            height: 100px;
          }

          .right {
            .top {
              .left {
                font-size: .8em;
              }
            }
          }
        }
      }
    }
  }
}