@import '../common.scss';

.root {
  .content {
    padding-top: 50px;

    .input {
      width: 600px;
      min-width: 600px;
      max-width: 600px;
      margin: 0 auto;
    }

    .title {
      display: flex;
      margin-top: 50px;
      margin-bottom: 20px;

      .link {
        @include center;
        gap: 6px;
        width: fit-content;
        color: $color--system--5;
        font-size: 1.2em;
        cursor: pointer;

        span {
          color: $color--gray--4;
        }
  
        svg {
          color: $color--gray--4;
          font-size: .8em;
        }
      }

      .face {
        margin-left: auto;
      }
    }

    .teachers {
      @include center;
      flex-wrap: wrap;
      gap: 16px;
    }
  }
}