@import '../common.scss';

.root {
  .header > span {
    span:first-child {
      color: $color--system--5;
      margin-right: 10px;
    }

    span:last-child {
      color: $color--gray--4;
      font-weight: normal;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .item {
      flex: 1 1 calc(16% - 10px);
      max-width: calc(16% - 10px);
    }
  }
}