@import '@/styles/common.scss';

.btn {
  @include center;
  border: none;
  padding: 5px 18px;
  font-size: 13px;
  border-radius: $radius--half;
  background: $color--system--5;
  color: white;
  height: fit-content;
}

.btn.shape-rect {
  color: black;
  border-radius: 0;
  border: 1px solid $color--gray--3;
  background: white;
}