@import '../common.scss';

.root {
  margin-top: $padding--content--top;
  padding-top: 40px;
  padding-bottom: 100px;
  
  .header {
    max-width: $width--content--1;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    > span {
      font-weight: bold;
    }

    .submenu {
      margin-left: auto;
      margin-right: 30px;
      color: $color--gray--4;
      cursor: pointer;

      :nth-child(2) {
        cursor: default;
        width: 2px;
        height: 4px;
        border-right: 2px solid $color--system--3;
        margin: 0 10px;
      }

      .active {
        color: $color--gray--1;
        font-weight: bold;
      }
    }
  }

  .content {
    .songs {
      min-width: $width--content--1;
      max-width: $width--content--1;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .item {
        display: flex;
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        min-height: 220px;
        max-height: 220px;
        border: 1px solid $color--gray--5;
        border-radius: $radius--default;
        overflow: hidden;

        .left {
          width: 50%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;;
          gap: 16px;

          .top {
            display: flex;
            align-items: center;

            .img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: $color--gray--1;
              margin-right: 10px;
            }

            .name {
              font-size: 1.2em;
            }
          }

          .middle {
            font-size: .9em;
            display: flex;
            justify-content: center;;
            flex-direction: column;
            gap: 10px;

            span {
              background: $color--gray--6;
              margin-right: 10px;
              padding: 2px 10px;
              border-radius: $radius--half;
              margin-bottom: 10px;
            }
          }

          .bottom {
            button {
              width: 100%;
            
              svg {
                margin-right: 6px;
                font-size: 1.2em;
              }
            }
          }
        }

        .right {
          flex: 1;
          
          > div {
            height: 100%;
            border-radius: 0;
          }
        }
      }
    }
  }
}