@import '../common.scss';

.root {
  .content {
    min-width: 100%;
    max-width: 100%;

    .title {
      display: flex;
      align-items: center;
      width: $width_desktop;
      margin: 0 auto;
      margin-bottom: 20px;
      
      .text {
        font-size: 1.2em;
      }

      .face {
        margin-left: 16px;
      }
  
      .dropdown {
        margin-left: auto;
  
        > * {
          min-width: 150px;
        }
      }
    }
  
    .instruments {
      margin-bottom: 20px;
    
      > div {
        @include center;
        color: $color--gray--3;
        text-transform: uppercase;
        font-size: .9em;
        min-width: 70px;
        padding: 6px;
        border-radius: $radius_default;
        transform: translateX($space_desktop);
      }
  
      > div.active {
        background: $color--gray--6;
        color: black;
        font-weight: bold;
      }
    }
  
    .teachers {
      @include center;
      flex-wrap: wrap;
      gap: 15px;
      width: $width_desktop;
      margin: 0 auto;

      .teacher.active {
        padding: 14px;
        border: 3px solid $color--system--3;
        background: rgb(92, 254, 212, .1);

        > div {
          opacity: .5;
        }

        > div:nth-of-type(2) {
          opacity: 1;

          > div {
            opacity: .5;
          }

          > div:nth-of-type(1) {
            opacity: 1;
            background: rgba(0, 0, 0, .5);
            
            > :last-child {
              @include center;
            }
          }

          > div:nth-of-type(2) {
            opacity: 1;
          }
        }
      }
    }
  }
  
  > button {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 0;
    background: $color--system--6;
    position: fixed;
    left: 0;
    bottom: 0;
    color: $color--gray--1;   
  }
}