@import '../common.scss';

.container {
  @include center;
  justify-content: flex-start;
  gap: 8px;
  // scroll-snap-type: x mandatory;
  white-space: nowrap;
  overflow-x: scroll;
  box-sizing: border-box;
  transition: all .2s;
  -ms-overflow-style: none;
  scrollbar-width: none;

  > * {
    transform: translateX($space_desktop);
    scroll-snap-align: center;
    position: relative;
    cursor: pointer;
  }
}

.container.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  // transform: scale(1.01);
}

.container:after {
  transform: translateX($space_desktop);
  content: "";
  flex: 0 0 16px;
  height: 1px;
}

.container::-webkit-scrollbar {
  display: none;
}