@import '../common.scss';

.map {
  width: 100%;
  height: 100%;
  border: 1px solid $gray_medium;
}

.map.error {
  display: none;
}

.sub {
  @include center;
  font-size: .9em;
  color: $blue_dark;
  border: 1px solid $gray_medium;
  padding: 6px;
  margin-bottom: 30px;
}

.sub.error {
  border: 0;
  color: black;
  font-size: 1.2em;
  word-break: keep-all;
}