@import '../common.scss';

.button {
  @include center;
  border-radius: $radius--half;
  border: 1px solid $color--gray--5;
  overflow: hidden;
  position: relative;
  width: 105px;
  height: 30px;
  background: $color--gray--5;
  cursor: pointer;
  
  span {
    @include center;
    position: absolute;
    padding: 4px 8px;
    background: $color--gray--5;
    font-size: .9em;
    border-radius: $radius--half;
  }

  span:first-child {
    z-index: 1;
    width: 55px;
    left: 0;
    top: 0;
    background: $color--gray--8;
  }

  span:last-child {
    width: 55px;
    right: 0px;
    top: 0;
  }
}

.button.active {
  span:first-child {
    background: $color--gray--5;
  }

  span:last-child {
    z-index: 1;
    background: $color--gray--8;
  }
}

.dropdown {
  margin-left: auto;

  > * {
    min-width: 150px;
  }
}