@import '@/styles/common.scss';

.root {
  .content {
    margin-top: 20px;

    > div:nth-child(2n) {
      margin-bottom: 30px;
    }

    .title {
      margin-bottom: 10px;
      color: $color--gray--4;
    }

    .albumart {
      display: flex;
      gap: 16px;

      .img {
        @include center;
        width: 150px;
        height: 150px;
        background: $color--gray--6;
        border: 1px solid $color--gray--5;
        border-radius: $radius--default;
        cursor: pointer;

        svg {
          font-size: 3.6em;
          color: $color--gray--5;
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1;

        input {
          width: 100%;
        }
      }
    }

    .score {
      @include center;
      width: 100%;
      height: 800px;
      max-height: 800px;
      background: $color--gray--6;
      border-radius: $radius--default;
      border: 1px solid $color--gray--5;
      cursor: pointer;

      .notice {
        @include center;
        flex-direction: column;
        font-size: 1.2em;
        color: $color--gray--5;

        svg {
          font-size: 4em;
        }
      }
    }

    .selector {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      
      span {
        padding: 4px 10px;
        border: 1px solid $color--gray--4;
        background: $color--gray--8;
        color: $color--gray--4;
        border-radius: $radius--half;
        font-size: .8em;
        cursor: pointer;
        box-sizing: border-box;
      }

      .active {
        border: 2px solid $color--system--3;
        font-weight: bold;
        color: $color--gray--1;
        padding: 3px 9px;
      }
    }
  }

  .save {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
    color: $color--gray--1;
    background: $color--system--6;
    border-radius: 0;
    z-index: 1;
  }
}