@import '../../common.scss';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color--gray--6;
  padding-top: $top_padding;
  padding-bottom: 100px;
  min-height: 100%;
}