@import '@/styles/common.scss';

.root {
  > div {
    padding: 40px;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  .top {
    flex-direction: row;
    color: $color--gray--3;
    font-size: .8em;
    margin-bottom: 20px;

    :first-child {
      color: $color--system--5;
      font-weight: bold;
    }

    .seperator {
      margin: 0 10px;
    }

    :last-child {
      margin-left: auto;
    }
  }

  .prev {
    font-size: 1.4em;
    color: $color--gray--2;
    cursor: pointer;
    margin-bottom: 16px;
  }

  .middle {
    position: relative;
    min-height: 500px;
    height: 100%;
    overflow: hidden;
    
    > div {
      transition: left .2s;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .form {
        label {
          font-size: .9em;
          margin-top: 20px;
          margin-bottom: 10px;
        }

        > div {
          width: 100%;
          flex-direction: row;

          button {
            flex: 1 1 60px;
            margin-left: 6px;
          }
        }
      }
    }

    .step2 { left: 100%; }

    button {
      width: 100%;
      border-radius: $radius--default;
      background: $color--system--5;
      border: 0;
      margin-top: auto;
      padding: 10px;
    }

    > button:last-child {
      display: none;
    }
  }

  .middle.step2 {
    .step1 { left: -100%; }
    .step2 { left: 0; }
  }
}

@media (max-width: 540px) {
  .root {
    .middle {
      > button:last-child {
        display: none;
      }
    }
  }
}