@import '@/styles/common.scss';

.root {
  padding: 0 $padding--content--1;

  .submenu {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin-bottom: 0;

    li {
      padding: 4px 12px;
      border-radius: $radius--default;
      color: $color--gray--4;
      cursor: pointer;
    }

    li.active {
      background: $color--gray--6;
      color: $color--gray--1;
    }
  }

  .posts {    
    > :last-child {
      padding: 0;
    }
  }

  .songs {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .item {
      flex: 1 1 calc(20% - 10px);
      max-width: calc(20% - 10px);
      height: 200px;
    }
  }

  .teachers {
    @include center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 40px;
  }
}

@media (max-width: 1199px) {
  .root {
    padding: 0 $padding--content--2;
  }
}

@media (max-width: 991px) {
  .root {
    .songs {
      .item {
        flex: 1 1 calc(33% - 10px);
        max-width: calc(33% - 10px);
        height: 200px;
      }
    }
  }
}

@media (max-width: 540px) {
  .root {
    .songs {
      .item {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        height: 160px;
      }
    }
  }
}