@import '../../common.scss';

.root {
  display: flex;
  align-items: center;
  background: $color--gray--8;
  padding: 20px calc($padding--content--1);
  width: 100%;
  z-index: 8;
  position: sticky;
  top: 60px;

  svg {
    font-size: 1.6em;
    color: $color--gray--4;
    margin-right: 15px;
    cursor: pointer;
  }

  > span {
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .root {
    padding: 16px calc($padding--content--2);
  }
}