@import '@/styles/common.scss';

.root {
  .header > span {
    span:first-child {
      color: $color--system--5;
      margin-right: 10px;
    }

    span:last-child {
      color: $color--gray--4;
      font-weight: normal;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;

    .item {
      flex: 1 1 calc(16% - 10px);
      max-width: calc(16% - 10px);
    }
  }
}


@media (max-width: 991px) {
  .root {
    .content {
      .item {
        flex: 1 1 calc(20% - 10px);
        max-width: calc(20% - 10px);
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    .content {
      .item {
        flex: 1 1 calc(25% - 10px);
        max-width: calc(25% - 10px);
      }
    }
  }
}

@media (max-width: 540px) {
  .root {
    .content {
      .item {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
      }
    }
  }
}