@import '../common.scss';

.root {
  margin-bottom: 50px;

  .title {
    width: 100%;
    padding: 0 $padding--content--1;
    text-transform: uppercase;
    color: $color--gray--3;
    font-size: 16px;
    margin: auto;
    margin-bottom: 20px;
    
    & > div {
      font-size: 18px;
      color: $color--gray--1;
      margin: 4px 0 10px 0;
    }
  }

  .items {
    .item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 300px;
      width: 170px;
      min-width: 170px;
      padding: 12px;

      .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: $color--gray--1;;
      }

      .text {
        z-index: 1;
        color: white;

        .top {
          word-break: keep-all;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          max-height: 48px;
          white-space: normal;
        }
        
        .bottom {
          @include center;
          justify-content: flex-start;
          color: $color--gray--5;
          font-size: 12px;
          margin-top: 8px;

          svg {
            font-size: 14px;
            margin-right: 4px;
          }

          svg:nth-of-type(2) {
            margin-left: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .root {
    .title {
      padding: 0 $padding--content--2;
    }
  }
}