@import '../common.scss';

.curriculum {
  @include center;
  flex-direction: column;
  border: 1px solid $color--gray--5;

  > div {
    width: 100%;
  }

  > .top {
    display: flex;
    padding: 20px;

    .info {
      width: 100%;

      .title {
        font-weight: bold;
        margin-bottom: 10px;
        cursor: pointer;

        .type {
          background: $color--red--1;
          color: $color--red--2;
          padding: 2px 4px;
          border-radius: $radius_default;
          font-size: .9em;
          margin-right: 10px;
          font-weight: normal;  
        }
      }

      .author {
        display: flex;
        align-items: center;
        font-size: .8em;
        color: $color--gray--3;

        svg {
          font-size: 1.2em;
          margin-right: 4px;
        }

        > :first-child {
          display: flex;
          cursor: pointer;
          
          .img {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background: $color--gray--1;;
            margin-right: 10px;
          }
  
          .name {
            color: black;
            font-weight: bold;
            margin-right: 10px;
          }
        }

        .rate {
          margin-right: 8px;
          svg {
            color: $color--system--2;
          }
        }

        .location {
          svg {
            color: $color--gray--2;
          }
        }

        .instrument {
          @include center;
          gap: 10px;
          margin-left: auto;

          > span {
            padding: 2px 6px;
            background: $color--system--7;
            border-radius: $radius-default;
            color: black;
          }
        }
      }
    }
  }

  > .middle {
    @include center;
    flex-direction: column;

    > * {
      width: 100%;
    }

    > .title {
      @include center;
      width: fit-content;
      padding: 4px 14px;
      font-size: .9em;
      border-radius: $radius-half;
      background: $color--gray--6;
      margin-bottom: 20px;
      cursor: pointer;

      svg {
        font-size: 1.4em;
        color: $color--system--5;
        margin-right: 4px;
      }

      > span:nth-of-type(1) {
        color: $color--gray--2;
        margin-right: 16px;
      }
    }

    .score {
      position: relative;
      max-height: 340px;
      overflow: hidden;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #ddd, hsla(0, 0%, 100%, 0));
      }

      button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        border-radius: $radius_default;
        background: rgb(0, 0, 0, .4);

        svg {
          font-size: 1.2em;
          margin-right: 4px;
        }
      }
    }

    .lessons {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 20px;

      .desc {
        margin-bottom: 20px;
      }

      .lesson {
        @include center;
        justify-content: flex-start;
        margin-bottom: 10px;
        border-radius: $radius-half;
        border: 2px solid $color--gray--6;
        padding: 5px;

        .order {
          background: $color--gray--6;
          border-radius: $radius-half;
          padding: 6px 14px;
          font-size: .9em;
          text-transform: uppercase;
          margin-right: 20px;

          svg {
            font-size: 1.4em;
            color: $color--system--5;
            margin-right: 4px;
          }
        }

        .title {
          text-transform: capitalize;
        }

        .rate {
          margin-left: auto;
          margin-right: 10px;

          svg {
            color: $color--gray--5;

            &.active {
              color: $color--system--5;
            }
          }
        }
      }

      .lesson:last-child {
        margin-bottom: 0;
      }
    }

  }

  > .bottom {
    @include post_bottom;
  }
}