@import '../common.scss';

.teacher {
  @include center;
  flex-direction: column;
  border: 1px solid $color--gray--5;

  > div {
    width: 100%;
  }

  .top {
    display: flex;
    padding: 20px;

    .info {
      .title {
        font-weight: bold;
        margin-bottom: 10px;

        .type {
          background: $color--gray--6;
          color: $color--gray--3;
          padding: 2px 4px;
          border-radius: $radius--default;
          font-size: .9em;
          margin-right: 10px;
          font-weight: normal;  
        }
      }
    }
  }

  .middle {
    div {
      @include center;
    }

    > div {
      margin: 20px 100px;
    }

    .profile {
      border-bottom: 1px solid $color--gray--6;
      cursor: pointer;

      > div {
        flex: 1;
      }

      .left {
        flex-direction: column;
        margin: 30px;

        .img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: $color--gray--1;;
          overflow: hidden;
        }

        img {
          @include img;
        }

        .name {
          font-size: 1.1em;
          font-weight: bold;
          margin-top: 6px;
        }

        .sub {
          font-size: .8em;
          color: $color--gray--3;
          margin-top: 6px;

          svg {
            font-size: .9em;
            margin-right: 4px;
          }

          span {
            background: $color--system--5;
            color: black;
            padding: 2px 8px;
            border-radius: $radius--half;
            font-size: .8em;
            margin-right: 5px;
          }

          span:nth-of-type(1) {
            margin-left: 10px;
          }
        }
      }

      .right {
        flex-direction: column;
        flex: 1;
        align-items: flex-start;
        gap: 16px;

        .title {
          font-size: 1.2em;
          font-weight: bold;
        }

        .instruments {
          span {
            background: $color--system--7;
            border-radius: $radius--default;
            font-size: .8em;
            padding: 2px 4px;
            margin-right:10px;
          }
        }

        .desc {
          line-height: 1.6em;
        }
      }
    }

    .achievements {
      margin-bottom: 40px;

      > div {
        flex: 1;
        flex-direction: column;
        border-right: 1px solid $color--gray--6;

        > span:first-child {
          font-size: 1.4em;
          font-weight: bold;
        }
        
        > span:last-child {
          font-size: .8em;
        }
      }

      > div:last-child {
        border: 0;
      }
    }
  }

  .bottom {
    @include post_bottom;
  }
}