@import '../common.scss';

.root {
  .content {
    padding: 0;
    padding-top: 20px;

    .upload {
      position: fixed;
      bottom: 26px;
      right: 26px;
      font-size: 1.1em;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  
      svg {
        margin-right: 4px;
        color: $color--system--3;
      }
    }
  }
}