@import '../common.scss';

.postlist {
  padding-bottom: 100px;
  
  .title {
    min-width: $width_desktop;
    max-width: $width_desktop;
    text-transform: uppercase;
    color: $color--gray--3;
    font-size: 16px;
    margin: auto;
    margin-bottom: 20px;

    @include center;
    justify-content: flex-start;

    .dropdown {
      margin-left: auto;

      button {
        @include center;
        justify-content: flex-start;
        background: white;
        border: 1px solid $color--gray--5;
        color: black;

        &:after {
          color: $color--gray--5;
          margin-left: auto;
        }
      }

      > * {
        min-width: 134px;
      }
    }

    .dropdown:nth-child(2) {
      margin-right: 15px;
    }

    .dropdown:nth-child(3) {
      margin-left: 0;
    }
  }

  .filters {
    margin-bottom: 20px;
    
    > div {
      @include center;
      color: $color--gray--3;
      text-transform: uppercase;
      font-size: .9em;
      min-width: 70px;
      padding: 6px;
      border-radius: $radius_default;
    }

    > div.active {
      background: $color--gray--6;
      color: black;
      font-weight: bold;
    }
  }

  .items {
    min-width: $width_desktop;
    max-width: $width_desktop;
    margin: auto;
    
    > div {
      margin-bottom: 20px;
    }
  }
}