@import '../common.scss';

.container {
  .content{
    @include center;
    flex-direction: column;
    height: 100%;

    .buttons {
      @include center;
      flex-direction: column;
      margin-top: 20px;

      button {
        width: 300px;
        font-size: 1.1em;
        margin-bottom: 10px;
        border: 1px solid $color--gray--5;
        border-radius: $radius--default;
        // transition: all .1s;
      }

      button:hover {
        border: 1px solid $color--system--2;
        background: $color--system--6;
        color: white;
      }
    }
  }
}