@import '../common.scss';

.signup {
  > div {
    display: flex;
    padding: 40px;

    .middle {
      > div {
        display: flex;
        flex-direction: column;

        > button {
          margin-top: auto;
          background: $color--system--6;
        }
      }
    }
  }

  .top {
    display: flex;
    flex-direction: row;
    color: $color--gray--4;
    font-size: .8em;
    margin-bottom: 20px;

    > :first-child {
      color: $color--system--1;
      font-weight: bold;
    }

    > .seperator {
      margin: 0 10px;
    }

    > :last-child {
      margin-left: auto;
    }
  }

  .prev {
    font-size: 1.4em;
    color: $color--gray--2;
    cursor: pointer;
    margin-bottom: 15px;
  }

  .middle {
    position: relative;
    height: 100%;
    overflow: hidden;
    
    > div {
      transition: left .2s;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .warn {
      color: red;
      font-size: .9em;
      opacity: .9;
      display: none;
    }

    .warn.active {
      display: block;
    }

    > div > button {
      width: 100%;
      border-radius: $radius_default;
      background: $color--system--5;
      border: 0;
      margin-top: auto;
      padding: 10px;
      color: black;
    }

    .step1 {
      .terms {
        max-height: 500px;
        overflow-y: auto;
        margin: 15px 0;
  
        > .term {
          border-bottom: 1px solid $color--gray--5;
          margin-bottom: 6px;
          overflow: hidden;
  
          > div {
            padding: 12px;
          }
  
          .title {
            @include center;
            flex-direction: row;
            justify-content: flex-start;
            border: 1px solid $color--gray--5;
            border-bottom: 0;
            font-size: .9em;
    
            label {
              @include center;
              justify-content: flex-start;
              width: 100%;
              flex: 2;
              cursor: pointer;
    
              > div:first-child {
                width: auto;
                margin-top: -3px;
                margin-right: 10px;
    
                input {
                  border-radius: 50%;
                  padding: 10px;
                }
    
                input:checked {
                  background-color: $color--system--5;
                  border-color: $color--system--5;
                }
  
                input:disabled {
                  opacity: 1;
                }
              }
    
              span {
                margin-left: 6px;
                border-radius: $radius_half;
                border: 1px solid $color--system--5;
                color: $color--system--5;
                font-size: .8em;
                padding: 0 8px;
              }
            }
    
            .arrow {
              @include center;
              flex: 1;
              justify-content: flex-end;
    
              svg {
                font-size: 1.4em;
                color: $color--gray--3;
                margin-left: auto;
              }
            }
            
          }
    
          .content {
            border: 1px solid $color--gray--5;
            border-bottom: 0;
            border-top: 0;
            height: 0px;
            overflow-y: auto;
            font-size: .8em;
            padding: 0;
          }
  
          .required {
            display: flex;
          }
        }
  
        .all {
          font-weight: bold;
  
          .title {
            font-size: .9em;
          }
        }
      }
  
      .term.active {
        .content {
          border-top: 1px solid $color--gray--5;
          padding: 12px;
          height: 150px;
        }
      }
    }

    .step2, .step3, .step4, .step5, .step6 { left: 100%; }
  }

  .step2 {
    .verify {
      @include center;
      padding: 30px;
      border: 1px solid $color--gray--5;
      margin-top: 15px;
      cursor: pointer;
    }
  }

  .step3 {
    .form {
      flex-direction: column;
      padding: 20px;
      padding-top: 0;
      padding-bottom: 30px;
      margin: 10px 0;
      overflow-y: auto;

      .picture {
        @include center;
        width: 120px;
        height: 120px;
        background: $color--gray--6;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        margin: 40px auto;
        flex-shrink: 0;
  
        svg {
          font-size: 2.6em;
          color: $color--gray--4
        }
  
        img {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0;
          width: 100%;
          height: 100%;
        }
      }

      > div:not(.picture) {
        flex-direction: row;
        margin-bottom: 20px;

        span {
          flex-shrink: 0;
        }

        label {
          margin-right: 15px;
          cursor: pointer;

          input[type=radio] {
            margin-right: 6px;
          }
        }

        > :last-child {
          margin-top: 8px;
        }
      }

      textarea {
        resize: none;
      }

      .required {
        span:after {
          content: '*';
          color: red;
          margin-left: 4px;
        }
      }
    }
  }

  .step4 {
    .items {
      @include center;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      height: 100%;
      margin-top: 20px;
      gap: 10px;
      margin-bottom: 20px;
      
      .item {
        @include center;
        flex-direction: column;
        flex: 1 1 calc(25% - 30px);
        border: 2px solid $color--gray--5;
        color: $color--gray--4;
        cursor: pointer;
        border-radius: $radius_default;

        svg {
          color: $color--gray--4;
          font-size: 2.4em;
          margin-bottom: 6px;
        }
      }

      .item.active {
        color: $color--gray--1;
        border: 2px solid $color--system--3;

        svg {
          color: $color--system--5;
        }
      }
    }
  }

  .step5 {
    .items {
      @include center;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      gap: 10px;
      height: 100%;
      margin: 20px 0;

      .item {
        flex: 1 1 calc(33% - 20px);
        @include center;
        flex-direction: column;
        text-align: center;
        border: 2px solid $color--gray--5;
        font-size: .8em;
        color: $color--gray--4;
        padding: 20px;
        word-break: keep-all;
        border-radius: $radius_default;
        cursor: pointer;
        box-sizing: border-box;

        > div {
          font-size: 1.2em;
        }

        .dropdown {
          margin-top: 10px;
          > * {
            min-width: 100px;
          }
        }
      }
      
      > .item.active {
        border: 2px solid $color--system--3;

        > div {
          color: $color--system--5;
        }
      }
    }
  }

  .step5.teacher {
    .items {
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 1.2em;
      height: auto;

      .item {
        // flex: 0 0 calc(25% - 30px);
        flex: 1 0 calc(25% - 30px);
      }
    }

    .items:after {
      content: '';
      flex: 1 1 calc(75% - 30px);
    }
  }

  .step6 {
    .map {
      width: 100%;
      height: 100%;
      margin-top: 15px;
      // overflow-y: auto;
      // margin-top: 0
    }
  }

  .middle.step1 {
    .step1 { left: 0; }
    .step2, .step3, .step4, .step5, .step6 { left: 100%; }
  }

  .middle.step2 {
    .step1 { left: -100%; }
    .step2 { left: 0; }
    .step3, .step4, .step5, .step6 { left: 100%; }
  }

  .middle.step3 {
    .step1, .step2 { left: -100%; }
    .step3 { left: 0; }
    .step4, .step5, .step6 { left: 100%; }
  }

  .middle.step4 {
    .step1, .step2, .step3 { left: -100%; }
    .step4 { left: 0; }
    .step5, .step6 { left: 100%; }
  }

  .middle.step5 {
    .step1, .step2, .step3, .step4 { left: -100%; }
    .step5 { left: 0; }
    .step6 { left: 100%; }
  }

  .middle.step6 {
    .step1, .step2, .step3, .step4, .step5 { left: -100%; }
    .step6 { left: 0; }
  }
}