@import '../common.scss';

.likes {
   .submenu {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;

    li {
      padding: 4px 12px;
      border-radius: $radius--default;
      color: $color--gray--4;
      cursor: pointer;
    }

    li.active {
      background: $color--gray--6;
      color: $color--gray--1;
    }
  }

  .songs {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .item {
      flex: 1 1 calc(20% - 10px);
      max-width: calc(20% - 10px);
      height: 200px;
    }
  }

  .teachers {
    @include center;
    flex-wrap: wrap;
    gap: 15px;
    width: $width--content--1;
    margin: 0 auto;
    margin-top: 40px;
  }
}