@import '../common.scss';

.root {
  > div {
    width: 600px;
    min-width: 500px;
  }

  .header {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.2em;
    border-bottom: 1px solid $color--gray--5;

    svg {
      font-size: 1.2em;
      color: $color--gray--5;
      margin-left: auto;
      cursor: pointer;
    }
  }

  .content {
    padding: 20px;

    .buttons {
      display: flex;
      width: 100%;

      button {
        margin-right: 6px;
        font-size: .9em;
        background: $color--gray--8;
        border: 1px solid $color--gray--5;
        border-radius: $radius--default;
        padding: 6px 10px;
      }

      & > button:first-child {
        color: #dc3545;

        * {
          cursor: pointer;
        }

        & > label {
          display: none;

          label {
            color: black;
            margin-left: 6px;
          }
        }

        & > label.active {
          display: block;
        }
      }

      button:first-child.active {
        color: white;
        background: #dc3545;

        label {
          color: white;
        }
      }

      & > button:last-child {
        display: none;
        margin-left: auto;
        color: $color--gray--1;
        font-size: .9em;
      }

      & > button:last-child.active {
        display: block;
      }
    }

    .audio {
      display: none;
      width: 100%;
      margin-top: 15px;
    }
    
    .audio.active {
      display: block;
    }
  }

  .footer {
    button {
      width: 100%;
      border-radius: 0;
      background: $color--system--4;
      color: $color--gray--1;
      font-size: 1.1em;
      font-weight: bold;
      padding: 8px;
    }
  }
}