@import '../common.scss';

.root {
  .content {
    display: flex;
    gap: 10px;
    padding: 16px;

    > div {
      @include center;
      flex-direction: column;
      flex: 1;
      width: 160px;
      height: 160px;
      border: 1px solid $color--gray--5;
      border-radius: $radius--default;
      cursor: pointer;
      color: $color--system--5;

      svg {
        color: $color--gray--4;
        font-size: 2.2em;
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 540px) {
  .root {
    .content {
      max-width: 80vw;
    }
  }
}