/* 공통 */
$color--system--1: rgb(1, 170, 200);
$color--system--2: rgb(13, 255, 211);
$color--system--3: rgb(92, 254, 212);
$color--system--4: -webkit-linear-gradient(left, rgb(89, 255, 212), rgb(83, 240, 235));
$color--system--5: rgb(31, 206, 238);
$color--system--6: -webkit-linear-gradient(left, rgb(0, 238, 195), rgb(12, 204, 227));
$color--system--7: rgb(222, 255, 246);

$color--gray--1: rgb(65, 67, 70);
$color--gray--2: rgb(112, 117, 122);
$color--gray--3: rgb(148, 150, 155);
$color--gray--4: rgb(139, 151, 166);
$color--gray--5: rgb(211, 215, 220); // gray-dark
$color--gray--6: rgb(246, 246, 246); // gray-light
$color--gray--7: rgb(249, 249, 249);
$color--gray--8: #ffffff;

$color--red--1: rgb(255, 222, 228);
$color--red--2: rgb(230, 101, 125);

$radius--default: 4px;
$radius--half: 980px;

$width--content--1: 1060px;
$width--content--2: 90%;
$width--content--3: 1060px;

$padding--content--1: calc(max(1024px, 100vw) / 2 - 540px);

$padding--content--top: 60px;

// 가로/세로 중앙
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 이미지 스타일
@mixin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 게시물 아래의 버튼 공통 스타일
@mixin post_bottom {
  @include center;

  button {
    flex: 1;
    font-size: 1em;
    border: 1px solid $color--gray--5;
    border-bottom: 0;
    border-right: 0;
    padding: 8px;
    
    svg {
      font-size: 1.4em;
      margin-right: 6px;
    }
  }

  button:first-child {
    border-left: 0;
  }
}

@mixin fixedButton {
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 0;
  background: $color--system--6;
  position: fixed;
  left: 0;
  bottom: 0;
  color: $color--gray--1;  
  z-index: 1;
}