@import '@/styles/common.scss';

html {
  body {
    overflow-x: hidden;
    // -webkit-overflow-scrolling: touch;

    main {
      // font-family: 'Noto Sans KR', sans-serif;
      color: $color--gray--1;
      width: 100vw;
      // overflow-x: hidden;
      // overflow-y: auto;
      // -webkit-overflow-scrolling: touch;
      
      .dropdown {
        button {
          @include center;
          justify-content: flex-start;
          border: 1px solid $color--gray--5;
          background: $color--gray--8;
          color: $color--gray--1;
          width: 100%;

          &:after {
            color: $color--gray--5;
            margin-left: auto;
          }
        }
      }

      textarea:focus,
      input[type="text"]:focus,
      input[type="password"]:focus,
      input[type="email"]:focus,
      input[type="checkbox"]:focus,
      .uneditable-input:focus {   
        border-color: none;
        box-shadow: none!important;
        outline: 0 none;
      }

      // Main Banner 깜빡임 수정
      // .slick-slider .slick-track,
      // .slick-slider .slick-list{
      //   -webkit-transform: translate3d(0, 0, 0);
      //   -moz-transform: translate3d(0, 0, 0);
      //   -ms-transform: translate3d(0, 0, 0);
      //   -o-transform: translate3d(0, 0, 0);
      //   transform: translate3d(0, 0, 0);
      //   transition-delay: 10ms;
      // }
    }

    &.noscroll {
      overflow: hidden;
    }
  }
}