@import './common.scss';

.banner {
  overflow: hidden;
  margin-bottom: 50px;
  margin-top: 60px!important;

  div {
    outline: none!important;
    height: 100%;
  }

  .banner-item {
    @include center;
    height: 550px;
    overflow: hidden;
    padding:0 12px;
    cursor: pointer;
    position: relative;

    > span {
      margin: 10px 5px!important;
      border-radius: 4px;
    }
  }

  
}