@import "./common.scss";

.root {
  position: relative;

  .img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: $color--gray--1;
    position: relative;
    cursor: pointer;
  }

  .dropbox {
    display: none;
    position: absolute;
    background: $color--gray--8;
    border-radius: $radius--default;
    box-shadow: 1px 2px 10px 0 rgb(0 0 0 / 30%);
    border: 1px solid $color--gray--5;
    top: 40px;
    right: -10px;
    min-width: 400px;
    z-index: 100;

    &:after {
      content: "";
      position: absolute;
      top: -12px;
      right: 20px;
      height: 14px;
      width: 14px;
      background: white;
      transform: rotate(225deg) translate(-50%);
      border-bottom: 1px solid $color--gray--5;
      border-right: 1px solid $color--gray--5;
    }

    > div {
      @include center;
    }

    .top {
      padding: 18px;
      justify-content: flex-start;

      .signout {
        margin-left: auto;
        background: $color--gray--8;
        color: $color--gray--4;
        border: 1px solid $color--gray--5;
        padding: 2px 15px;
        font-size: 0.7em;
      }
    }

    .middle {
      max-width: 440px;
      padding: 0 18px;
      margin-bottom: 24px;
      justify-content: flex-start;

      .left {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: $color--gray--1;
      }

      .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        gap: 4px;
        font-weight: bold;

        .level {
          width: fit-content;
          border: 1px solid $color--system--5;
          border-radius: $radius--half;
          color: $color--system--5;
          font-size: 0.8em;
          padding: 0 12px;
          font-weight: normal;
        }

        .rate {
          font-weight: normal;

          svg {
            color: $color--system--3;
            margin-right: 4px;
          }
        }

        .instruments {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin-top: 10px;

          > span {
            @include center;
            border-radius: $radius--default;
            font-size: 0.8em;
            font-weight: normal;
            background: $color--gray--6;
            padding: 2px 4px;
          }
        }
      }
    }

    .bottom {
      border-top: 1px solid $color--gray--5;
      padding: 12px;
      cursor: pointer;
      font-size: 0.9em;

      svg {
        font-size: 1.5em;
        margin-right: 6px;
        color: $color--gray--4;
      }
    }
  }

  .dropbox.active {
    display: block;
  }
}

@media (max-width: 540px) {
  .root {
    .dropbox {
      min-width: calc(100vw - 20px);
    }
  }
}