@import './common.scss';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center; 
  padding: 0px 50px;
  border-bottom: 1px solid #ddd;
  z-index: 10;
  background: white;

  .logo {
    cursor: pointer;
    margin-right: 50px;
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;

    li {
      cursor: pointer;
      padding: 18px 0px;
      padding-bottom: 15px;
      color: $color--gray--2;
      border-bottom: 3px solid $color--gray--8;
    }
    
    li.active {
      color: $color--gray--1;
      border-bottom: 3px solid $color--system--2;
    }
  }

  .search {
    @include center;
    gap: 6px;
    padding: 3px 12px;
    padding-right: 60px;
    font-size: 12px;
    margin-left: auto;
    margin-right: 16px;
    cursor: pointer;

    color: $color--gray--4;
    background: $color--gray--6;
    border-radius: $radius_half;
    border: 1px solid $color--gray--5;

    & > :first-child {
      font-size: 22px;
      color: $color--gray--4;
    }
  }

  .sign {
    @include center;
    border-radius: $radius_half;
    overflow: hidden;
    background: $color--system--6;

    button {
      border-radius: 0;
      background: transparent;
      color: white;
    }

    .seperator {
      border-left: 1px solid white;
      height: 12px;
    }
  }

  .upload {
    margin-right: 40px;
    svg {
      margin-right: 4px;
      font-size: 1.2em;
      color: $color--system--3;
    }
  }

  .alert {
    padding: 4px;
    margin-right: 12px;
    cursor: pointer;

    svg {
      font-size: 1.5em;
      color: $color--gray--4;
    }
  }

  .profile {
    button {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: black;
    }
    

    img {
      @include img;
    }
  }
}