@import '@/styles/common.scss';

.root {
  background: $color--gray--6;

  > .header {
    display: flex;
    border-bottom: 1px solid $color--gray--5;

    > span {
      display: flex;
      align-items: center;

      .share {
        display: none;
        margin-left: auto;
        font-size: .8em;
      }

      .like {
        @include center;
        flex-direction: column;
        display: none;
        font-size: .8em;
        font-weight: normal;

        svg {
          margin-right: 4px;
        }
      }
    }
  }
  
  .content {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
    > .title {
      padding: 20px 0;
      font-size: 1.2em;
      border-bottom: 1px solid $color--gray--5;
    }

    .top {
      display: flex;
      padding: 20px 0;
      align-items: center;
  
      .info {
        .title {
          font-weight: bold;
          margin-bottom: 10px;
          cursor: pointer;
  
          .type {
            background: $color--system--7;
            color: $color--system--5;
            padding: 2px 4px;
            border-radius: $radius--default;
            font-size: .9em;
            margin-right: 10px;
            font-weight: normal;  
          }
        }
  
        .author {
          display: flex;
          align-items: center;
          font-size: .8em;
          color: $color--gray--3;

          .seperator {
            height: 10px;
            max-height: 10px;
            width: 1px;
            border-left: 1px solid rgb(139, 151, 166);
            margin: 0 5px;
          }
        }
      }

      .share {
        font-size: 1.2em;
        margin-left: auto;
        cursor: pointer;
        margin-right: 15px;
      }

      .like {
        font-size: .9em;
        cursor: pointer;

        svg {
          font-size: 2em;
          margin-right: 2px;
        }
      }
    }
  
    .middle {
      @include center;
      flex-direction: column;
  
      > * {
        width: 100%;
      }
  
      .img {
        height: 600px;
        overflow: hidden;
        position: relative;
      }
  
      .desc {
        padding: 20px 0;
        word-break: keep-all;
        font-size: 1.2em;
      }
    }

    .bottom {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 20px 0;

      .item {
        flex: 1 1 calc(16% - 10px);
        max-width: calc(16% - 10px);
      }
    }
  }
}

@media (max-width: 896px) {
  .root {
    > .content {
      .bottom {
        .item {
          flex: 1 1 calc(24% - 10px);
          max-width: calc(24% - 10px);
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .root {
    .header {
      > span {
        display: flex;
        align-items: center;

        .share, .like {
          display: block
        }
      }
    }

    > .content {
      .top {
        .share, .like {
          display: none;
        }
      }

      .middle {
        .img {
          height: 300px;
        }
      }

      .bottom {
        .item {
          flex: 1 1 calc(50% - 10px);
          max-width: calc(50% - 10px);
        }
      }
    }
  }
}

@media (max-width: 280px) {
  .root {
    > .content {
      .bottom {
        .item {
          flex: 1 1 100%;
          max-width: 100%;
        }
      }
    }
  }
}